<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="view-expenses" href="/tabs/view-expenses">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conversation" href="/tabs/conversation">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-expense" href="/tabs/add-expense">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add expense</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
