<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ask questions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="container">
    <div class="history">
      <div class="conversation" *ngFor="let conversation of conversations">
        <div class="question box">{{conversation.question}}</div>
        <div class="answer box">{{stringify(conversation.response)}}</div>
      </div>

    </div>
    <div class="bottom">
      <ion-item>
        <ion-input [(ngModel)]="question" placeholder="Your question"></ion-input>
      </ion-item>
      <ion-button [disabled]="!question" (click)="onSubmit()">Submit</ion-button>
    </div>
  </div>
</ion-content>
